@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
}

body{
    background-color: black;
}

nav{
    background-color: white;
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo img{
    width: 100px;
}

nav .center,nav .right{
    display: flex;
    align-items: center;
}

nav .center li,nav .right li{
    padding: 9px; 
    border-radius: 5px;
    font-weight: bolder;
    font-size: 15px;
}

nav .center li:hover,nav .right li:hover{
    background-color: rgb(230, 230, 230);
    cursor: pointer;
}

nav .center li{
    position: relative;
}

nav .center li i{
    display: none;
}

nav .center li .id{
    position: absolute;
    left: -20px;
    top: 35px;
    width: 250px;
    background: white;
    border: 1px solid rgb(207, 206, 206);
    border-radius: 5px;
    padding: 10px 0;
    font-size: 13px;
    opacity: 0;
    pointer-events: none;
    font-weight: normal;
    transform: translateY(20px);
    transition: .4s;
}

.f.active,.in.active{
    transform: rotate(180deg);
}

nav .center li .id.active{
    pointer-events: auto;
    opacity: 1;
    transform: translateY(0);
}

nav .center li .id .idv{
    padding: 15px;
    width: 250px;
}

nav .center li .id .idv:hover{
    background: #e8e5e5;
}

nav .center li .id .idv p{
    margin: 5px 0;
}

nav .center li .id .idv p i{
    font-size: 10px;
}

nav .center li .id.wide{
    width: 500px;
}

nav .center li .id.wide .idv{
    width: 250px;
}

nav .center li .id .iidv{
    position: absolute;
    left: 248px;
    top:  0;
    padding: 15px 0;
    display: none;
    width: 250px;
    height: 100%;
    z-index: 10;
}

nav .center li .id .iidv.active{
    display: block;
}

nav .center li .id .iidv p{
    padding: 15px;
}

nav .center li .id .iidv p:hover{
    background-color: #e8e5e5;
}

nav .center li .id .idvl{
    padding: 15px 0;
}

nav .center li .id .idvl p{
    padding: 15px;
}

nav .center li .id .idvl:hover{
    background: none;
}

nav .center li .id .idvl p:hover{
    background-color: #e8e5e5;
}

nav .right .ic{
    position: relative;
}

nav .right .ic .cart{
    position: absolute;
    top: 38px;
    left: -270px;
    width: 300px;
    background-color: white;
    padding: 25px 0;
    border-radius: 5px;
    border: 1px solid #e8e5e5;
    cursor: auto;
    pointer-events: none;
    opacity: 0;
    transition: .4s;
}

nav .right .ic .cart.active{
    pointer-events: auto;
    opacity: 1;
}

nav .right .ic .cart div:nth-child(1){
    padding: 0 25px;
    border-bottom: 1px solid #e8e5e5;
}

nav .right .ic .cart div .ind{
    padding: 10px 15px;
    color: #c3c0c0;
}

nav .right .ic .cart div button{
    width: 100%;
    padding: 10px;
    background-color: #006aff;
    border-radius: 5px;
    color: white;
    border: none;
    margin: 15px 0;
    cursor: pointer;
}

nav .right .ic .cart div:nth-child(2){
    padding: 10px 0 0;
}

nav .right .ic .cart div:nth-child(2) p{
    padding: 10px 25px;
    cursor: pointer;
}

nav .right .ic .cart div:nth-child(2) p:hover{
    background-color: #e8e5e5;
}

nav .right .bars{
    cursor: pointer;
    margin: 0 10px;
    display: none;
}

nav .right .bars span{
    display: block;
    width: 25px;
    height: 3px;
    background-color: black;
    position: relative;
}

nav .right .bars span::before,nav .right .bars span::after{
    position: absolute;
    content: "";
    left: 0;
    width: 25px;
    height: 3px;
    background-color: black;
}

nav .right .bars span::before{
    top: -10px;
}

nav .right .bars span::after{
    top: 10px;
}

.story{
    color: white;
    width: 50%;
    margin: 25px auto;
    text-align: center;
}

.story h1{
    font-size: 2.5em;
}

.story h3{
    margin: 15px 0;
    line-height: 28px;
}

.images{
    display: flex;
    margin: 100px auto 50px;
    justify-content: center;
}

.images div{
    height: 300px;
    margin: 0 20px;
    border-radius: 10px;
}

.images div:nth-child(1){
    width: 30%;
}

.images div:nth-child(1) img,.images div:nth-child(2) img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.images div:nth-child(2){
    width: 60%;
}

.run,.fre,.mng{
    color: white;
    width: 868px;
    margin: 150px auto;
}

.run h1,.fre h1,.mng h1{
    font-size: 2.5em;
}

.run h3,.fre h3,.mng h3{
    margin: 15px 0;
    line-height: 28px;
}

.fre img{
    margin: 40px 0 0;
}

.hotspot{
    width: 94%;
    height: 650px;
    margin: 100px auto 50px;
    position: relative;
}

.hotspot img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.hotspot .p1{
    position: absolute;
    top: 50%;
    left: 9%;
    transform: translate(-9%,-50%);
}

.hotspot .pi1{
    position: absolute;
    top: 63%;
    left: 14%;
    transform: translate(-14%,-63%);
}

.hotspot .p2{
    position: absolute;
    top: 70%;
    left: 53%;
    transform: translate(-53%,-70%);
}

.hotspot .pi2{
    position: absolute;
    top: 58%;
    left: 36%;
    transform: translate(-36%,-58%);
}

.hotspot .p3{
    position: absolute;
    top: 70%;
    right: 20%;
    transform: translate(-20%,-70%);
}

.hotspot .pi3{
    position: absolute;
    top: 60%;
    right: 18%;
    transform: translate(-18%,-60%);
}

.hotspot .p4{
    position: absolute;
    top: 90%;
    right: 15%;
    transform: translate(-15%,-90%);
}

.hotspot .pi4{
    position: absolute;
    top: 85%;
    right: 13%;
    transform: translate(-13%,-85%);
}

.hotspot .p5{
    position: absolute;
    top: 15%;
    right: 5%;
    transform: translate(-5%,-15%);
}

.hotspot .pi5{
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(-5%,-20%);
}

.hotspot div i{
    color: white;
    font-size: 18px;
    background-color: #006aff;
    padding: 13px;
    border-radius: 50%;
    cursor: pointer;
}

.hotspot .pinfo{
    width: 350px;
    padding: 25px 35px;
    background-color: white;
    font-size: 14px;
    line-height: 28px;
    transition: .7s;
    opacity: 0;
    pointer-events: none;
}

.hotspot .pinfo.active{
    opacity: 1;
    pointer-events: auto;
}

.hotspot .pinfo p{
    transform: translateY(10px);
    transition: .7;
}

.hotspot .pinfo.active p{
    transform: translateY(0);
}

.pics{
    display: flex;
    margin: 0 10px 80px;
}

.pics div{
    margin: 0 10px;
    height: 450px;
}

.pics div:nth-child(1){
    flex-grow: 1;
}

.pics div:nth-child(2){
    flex-grow: 2;
}

.pics div:nth-child(3){
    flex-grow: 1;
}

.pics div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

@media(max-width: 1024px){
    .images{
        flex-wrap: wrap;
    }

    .images div{
        width: 100% !important;
        height: 550px;
        margin: 25px 30px;
    }
}

@media(max-width: 770px){
    nav .right .bars{
        display: block;
    }

    nav .right .bars.active span{
        background: transparent;
    }

    nav .right .bars.active span::before,nav .bars.active span::after{
        top: 0;
    }

    nav .right .bars.active span::before{
        transform: rotate(45deg);
    }

    nav .right .bars.active span::after{
        transform: rotate(-45deg);
    }

    nav .right li:nth-child(1),nav .right li:nth-child(2){
        display: none;
    }

    nav .center{
        display: none;
    }

    nav .center.active{
        display: block;
        position: fixed;
        top: 75px;
        right: 0;
        width: 50%;
        height: 100%;
        background-color: white;
        color: black;
        z-index: 10;
        overflow: auto;
    }

    nav .center.active li{
        padding: 25px;
        border-bottom: 1px solid #80808038;
    }

    nav .center.active li p{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    nav .center.active li p i{
        display: block;
    }

    nav .center.active li .id{
        position: relative;
        top: 0;
        left: 0;
        background-color: #e6e6e6;
        height: 0;
        border: none;
        width: 100%;
        transition: .4s;
    }

    nav .center.active li .id.active{
        height: auto;
        opacity: 1;
    }

    nav .center.active li .id .idv{
        width: 100%;
    }

    nav .center li .id .idv p b{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    nav .center li .id .idv .iidv{
        position: relative;
        left: 0;
        top: 0;
        width: 100%;
    }

    .run,.fre,.mng{
        width: 700px;
        margin: 150px 30px;
    }

    .story{
        width: 90%;
    }

    .pics div{
        height: 300px;
    }

    nav .right .ic .cart{
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 76px;
    }
}

@media(max-width: 414px){
    .hotspot{
        height: 400px;
    }

    .run,.fre,.mng{
        width: 350px;
        margin: 150px 30px;
    }

    .hotspot{
        width: 100%;
    }
    
    .fre img{
        width: 270px;
    }

    .pics{
        flex-wrap: wrap;
    }

    .pics div:nth-child(1){
        display: none;
    }

    .pics div{
        margin: 25px 10px;
        height: 240px;
    }

    nav .center.active{
        width: 100%;
    }

    nav .center.active li {
        padding: 25px 10px;
    }

    nav .center li .id .idv{
        padding: 15px;
    }

    .story{
        text-align: left;
        margin: 25px 30px;
    }

    .story h1,.run h1, .fre h1, .mng h1{
        font-size: 1.8em;
    }

    .story h3,.run h3, .fre h3, .mng h3{
        font-size: 1em;
    }

    .images div{
        height: 200px;
    }
}

@media(max-width: 360px){
    .run, .fre, .mng {
        width: 280px;
    }
}

@media(max-width: 320px){

    .hotspot .pinfo{
        width: 250px;
    }
}